<!-- toast-container.component.html -->
<div aria-live="polite" aria-atomic="true" class="position-fixed top-0 end-0 p-3" style="z-index: 1050; max-width: 400px; cursor: pointer">
  <div
    *ngFor="let toast of toasts"
    class="toast show d-flex align-items-start mb-2 p-3 rounded shadow-sm"
    [ngClass]="getCombinedClasses(toast.type)"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    (click)="remove(toast)"
  >
    <div class="me-3 fs-4">
      <i [ngClass]="getIconClass(toast.type)"></i>
    </div>
    <div class="flex-grow-1">
      <div>{{ toast.text }}</div>
    </div>
  </div>
</div>
