<div class="card">
  <div class="card-body">
    <h5 class="card-title">Planning de la journée</h5>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [class.active]="tabMode === 'nursery'" (click)="tabMode = 'nursery'">
          Garderie
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="tabMode === 'other'" (click)="tabMode = 'other'">
          Autre
        </a>
      </li>
    </ul>

    @if (tabMode === 'nursery') {
      <app-table [data]="nurseryReservations">
        <ng-template column="Chien" let-data>
          {{ data.animal.name }}
        </ng-template>
        <ng-template column="Humain" let-data>
          {{ data.animal.owner.lastName }}
          {{ data.animal.owner.firstName }}
        </ng-template>
        <ng-template column="Heure entrée" let-data>
          {{ formatHour(data.startDate) }}
        </ng-template>
        <ng-template column="Heure sortie" let-data>
          {{ formatHour(data.endDate) }}
        </ng-template>
        <ng-template column="Etat du paiement" let-data>
          {{ data.paymentStatus | paymentTranslate }}
        </ng-template>
        <ng-template column="Détails" let-data>
          <a [routerLink]="['/reservation', data.id]"> <i class="fa fa-eye"></i></a>
        </ng-template>
      </app-table>
    } @else if (tabMode === 'other') {
      <app-table [data]="otherReservations">
        <ng-template column="Type de prestation" let-data>
          {{ data.serviceType.name }}
        </ng-template>
        <ng-template column="Horaires" let-data>
          {{ formatHour(data.startDate) }} - {{ formatHour(data.endDate) }}
        </ng-template>
        <ng-template column="Humain" let-data>
          {{ data.animal.owner.lastName }}
          {{ data.animal.owner.firstName }}
        </ng-template>
        <ng-template column="Animal" let-data>
          {{ data.animal.name }}
        </ng-template>
        <ng-template column="Etat du paiement" let-data>
          {{ data.paymentStatus | paymentTranslate }}
        </ng-template>
        <ng-template column="Détails" let-data>
          <a [routerLink]="['/reservation', data.id]"> <i class="fa fa-eye"></i></a>
        </ng-template>
      </app-table>
    }
  </div>
</div>
