<div class="menu d-flex flex-column vh-100 w-100 p-4 justify-content-between">
  <div class="d-flex flex-column">
    <img src="logo_caniparadis.png" alt="Logo" class="logo mb-3">
    <app-menu-item [icon]="'fa-solid fa-gauge-high'" [label]="'Résumé'" [link]="'dashboard'"></app-menu-item>
    @if (user?.role == Role.ADMIN) {
      <app-menu-item [icon]="'fa-solid fa-user'" label="Humains" [link]="'user'"></app-menu-item>
      <app-menu-item [icon]="'fa-solid fa-wrench'" label="Prestations" [link]="'service-type'"></app-menu-item>
    }
    <app-menu-item [icon]="'fa-solid fa-circle-check'" label="Réservation" [link]="'reservation'"></app-menu-item>
    <app-menu-item [icon]="'fa-solid fa-dog'" label="Animaux" [link]="'animal'"></app-menu-item>
  </div>
  <div class="d-flex flex-column">
    <app-menu-item [icon]="'fa-solid fa-users-gear'" [label]="user | userName" link="profile"></app-menu-item>
    <app-menu-item [icon]="'fa-solid fa-power-off'" label="Déconnexion" (click)="logout()"></app-menu-item>
  </div>
</div>
