<app-login-signup
  [title]="'Enregistrer nouveau mot de passe'"
  (onFormSubmit)="onSubmit()"
>

  <ng-container form-fields>

    <div class="mb-3 col position-relative">
      <input class="form-control"
             type="password"
             [(ngModel)]="signUp.password"
             name="password"
             required
             [pattern]="passwordPattern"
             #passwordRef="ngModel"
             [class.is-invalid]="passwordRef.invalid && (passwordRef.dirty || passwordRef.touched || formSubmitted)"
             placeholder="Entrez votre mot de passe"/>
      <label class="form-label text-dark" style="font-size: 0.8em;">Saisissez votre mot de passe</label>
      <div class="tooltip-error"
           *ngIf="passwordRef.errors?.['pattern'] && (passwordRef.dirty || passwordRef.touched || formSubmitted)">
        Min 8 caractères, 1 majuscule, 1 minuscule, 1 chiffre.
      </div>
    </div>

    <div class="mb-3 col position-relative">
      <input class="form-control"
             type="password"
             [(ngModel)]="confirmPassword"
             name="confirmPassword"
             required
             #confirmRef="ngModel"
             [class.is-invalid]="(confirmRef.dirty || formSubmitted) && signUp.password !== confirmPassword"
             placeholder="Confirmez votre mot de passe"
             (blur)="confirmTouched = true"/>
      <label class="form-label text-dark" style="font-size: 0.8em;">Confirmation mot de passe</label>
      <div class="tooltip-error" *ngIf="(confirmTouched || formSubmitted) && signUp.password !== confirmPassword">
        Les mots de passe ne correspondent pas.
      </div>
    </div>
  </ng-container>
</app-login-signup>
