Bonjour {{firstName}} {{lastName}},<br>
votre inscription chez Caniparadis a bien été prise en compte.<br>
<br>
Retrouvez toutes vos informations en cliquant sur le bouton<br>
<a href='{{url}}'>
  <button>
    Mon compte
  </button>
</a>
